[Unit]
Description=Poll HOLE CLUB test release every minute

[Timer]
OnBootSec=20
OnUnitActiveSec=60
AccuracySec=15
Persistent=true

[Install]
WantedBy=timers.target
