[Unit]
Description=Poll HOLE CLUB test release every minute

[Timer]
OnBootSec=20
OnUnitActiveSec=120
AccuracySec=20
Persistent=true

[Install]
WantedBy=timers.target
